/* *{
    margin-bottom: 30px;
    
} */

.gallery{
    width: 70%;
    margin: auto;
    display: grid;
    grid-template-columns: 1fr .5fr .5fr;
    /* grid-template-rows: 1fr .5fr; */
    grid-template-areas:
    "mosque-img alley-img boat-img"
    "mosque-img statue-img statue-img";
    
    /* object-fit: fill; */
    grid-gap: 1em;
    padding:1em;
}

/* grid template areas not working, 
after so many videos showing how easy it is to make a image collage and tim wasted, 
the problem was that on Inspect, it showed the grid-area in each of the images are not working. And it says its to do with a parent element having display:block and should change it to display:grid.
which is bs becuase theres nothing in this css file in this component that has display block.
the herosection and navbar hane display flex only and im not going to change them. */
/* problem fixed, the issue was that the img tag nested in its iwn div, was causing some problems. So I made each img tag out of the div tag. */

.grid-item img{
    border-radius: 10px;
}


.mosque-img{
    grid-area: mosque-img;
        
}

.alley-img{
    grid-area: alley-img;
}
.statue-img{
    grid-area: statue-img;
    
}

.boat-img{
    grid-area: boat-img;
}

.grid-item{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.content{
    width: 30%;
    /* height: 25vh; */
    margin: 0;
    text-align: center;
    position: absolute;
    z-index: 10;
    opacity: 0;
    margin: auto;
    


}

.small-pic{
    width: 20%;
    
}

.content h1, .content p{
    color: bisque;
}

.grid-item:hover img{
    filter: brightness(60%);
    transition: all 0.1s ease-in-out;
    
    
}

.content:hover{
    opacity: 1;
    
}


/* .seperator{
    margin-top: 30px;
    display: flex;
    flex-wrap: wrap;
}

.seperator > div{
    padding-left: 400px;
    padding-right: 400px;
    margin-right: 200px;
    margin-top: 30px;
    height: 2px;
 
    background-color: #000000;
    
}

.seperator > p, .seperator > div{
    flex: 1;
}

.seperator > p{
    font-size: 30px;
    margin-left: 70px;
    margin-top: 10px;
    font-weight: 700;
    font-family:'Times New Roman', Times, serif;
    letter-spacing: 2px;
    text-align: center;
} */


@media (max-width: 1000px) and (min-width: 500px){
    .gallery{
        margin-top: 10px;
        /*display: flex;
        flex-wrap: wrap; */
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: .5fr .5fr .5fr;
        grid-template-areas:
        "mosque-img mosque-img"
        "alley-img boat-img"
        "statue-img statue-img";
        width: 80%;
        grid-gap: 1em;
    }
}

@media (max-width: 600px) and (min-width: 500px){
    .gallery{
        margin-top: 0px;
        display: flex;
        flex-wrap: wrap;
        width: 90%;
    }
    .content{
        font-size: 10px;
        /* height: 10vh; */
        /* margin: 0; */
        text-align: center;
        position: absolute;
        z-index: 10;
        opacity: 0;
        margin: auto;
        margin-bottom: 10px;
        
    
    
    }
}

@media (max-width: 500px) and (min-width: 300px){
    .gallery{
        margin-top: 0px;
        display: flex;
        flex-wrap: wrap;
        width: 90%;
    }
    .content{
        font-size: 10px;
        /* height: 10vh; */
        /* margin: 0; */
        text-align: center;
        position: absolute;
        z-index: 10;
        opacity: 0;
        margin: auto;
        margin-bottom: 10px;
        
    
    
    }

    .seperator-insta{
        text-align: center;
        margin: 0;
        margin-left: 70px;
    }

    .seperator-featured{
        text-align: center;
        margin: 0;
        margin-left: 75px;
        margin-top: 20px;
        margin-bottom: 0;
    }
}

