
/* 1. add in lorem ipsum and piture in a blog page
   2. make the components phone friendly
   3. 
*/

.posts-view{
    margin-top: 40px;
    display: flex;
    flex-wrap: wrap;
}
.post{
    width: 30%;
    margin: 0px 20px 0px 20px;
}

.postInfo{
    margin-bottom: 60px;
}

.postImg{
    width: 100%;
    height: 50vh;
    object-fit: cover;
    border-radius: 10px;
}

.postDesc{
    font-size: 14px;
    color: rgb(104, 104, 104);
    margin-top: 20px;
    line-height: 20px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
}

.read-more:hover{
    color: rgb(252, 187, 137);
    transition: all 0.3s ease-in-out;
}

.img-hover:hover{
    filter: brightness(70%);
    transition: all 0.3s ease-in-out;
}


@media (max-width: 1000px) and (min-width: 600px){
    .posts-view{
        margin-top: 40px;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
    .post{
        margin: auto;
        width: 40%;
        margin: 0px 20px 0px 20px;
    }
}

@media (max-width: 600px) and (min-width: 300px){
    .posts-view{
        margin-top: 40px;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
    .post{
        width: 70%;
        margin: 0px 20px 0px 20px;
    }

}


