.footer-section{
    margin-top: 40px;
    width: 100%;
    background-color: #eee6df;
    padding: 20px;
}

.footer-flex{
    width: 100%;
    display: flex;
    flex-wrap: nowrap;
    margin: auto;

}

.footer-formInput{
    border: solid #dcc1b4 2px;
    background-color: rgb(239, 238, 237);
    border-radius: 2px;
    padding-bottom: 10px;
}

.footer-formButton{
    border: solid #b7866f 2px;
    background-color: rgb(228, 193, 159);
    border-radius: 2px;
}

.footer-smWrap{
    
    width: 30%;
    display: flex;
    /* flex-wrap: wrap; */
    justify-content: center;
    margin: auto;
    /* margin-left: 20px; */
}

.footer-emailNews{
    /* flex: 1; */
    /* width: 20%; */
}

.footer-formWrap{
    /* width: 30%; */
}

/* .footer-formButton{
    width: 30%;
} */

.socials-foot{
    filter:brightness(0%);
    width: 20%;
    margin-left: 20px;
    /* margin: -15px; */
}

.footer-socials{
    /* flex: 1;
    width: 20%; */

    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.footer-emailNews > h1{
    text-align: center;
}

.footer-socials > h1{
    text-align: center;
}

.footer-quote{
    /* flex: 1; */
   /* width: 30%; */
    display: flex;
    justify-content: center;
    /* align-items: center; */
    flex-direction: column;
}
.footer-logo{
    width: 40%;
    
    
}

.footer-quote > p{
    font-size: 18px;
    /* text-align: center; */
    
}

.footer-flexItem{
   margin-right: 30px;
}

.footer-endCredits{
    margin-top: 30px;
    
}

.footer-endCredits > p{
    color: #908683;
}

@media (max-width: 1000px) and (min-width: 500px)  {
    .footer-flex{
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        margin: auto;
    
    }
    .footer-logo{
        width: 40%;
        margin: auto;
        
    }
    
    .footer-quote > p{
        font-size: 18px;
        text-align: center;
        
    }
}

@media (max-width: 500px) and (min-width: 300px){
    .footer-flex{
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        margin: auto;
    
    }
    .footer-logo{
        width: 50%;
        margin: auto;
        
    }
    
    .footer-quote > p{
        font-size: 25px;
        text-align: center;
        
    }
    .socials-foot{
        filter:brightness(0%);
        width: 40%;
        margin-left: 20px;
        /* margin: -15px; */
    }
    .footer-formInput{
        border: solid #dcc1b4 2px;
        background-color: rgb(239, 238, 237);
        border-radius: 2px;
        padding-bottom: 30px;
    }
    
    .footer-formButton{
        border: solid #b7866f 2px;
        background-color: rgb(228, 193, 159);
        border-radius: 2px;
        padding-bottom: 10px;
    }
}