.insta-display{
    width: 70%;
    display: flex;
    /* overflow-x: scroll; */
    justify-content: space-between;
    margin: auto;
    align-items: center;
}

.insta-display > .wrap{
    width: 100%;
    display: grid;
    grid-template-columns: auto auto auto auto;
    flex: none;
}

.wrap2{

    display: grid;
    grid-template-columns: auto auto auto auto;
}

.view-insta{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.view-insta:hover img{
    filter: brightness(60%);
    transition: all 0.1s ease-in-out;
}

/* .grid-item:hover{
    filter: brightness(60%);
    transition: all 0.3s ease-in-out;
} */

.hhover{
    position: absolute;
    display: flex;
    width: 50%;
    z-index: 10;
    opacity: 0;
    margin: auto;
    /* 
    margin: 0;
    text-align: center;
    
    
     */

}

.hhover img{
    width: 30px;
    margin: auto;
    flex-wrap: wrap;
}

.hhover p{
    text-align: center;
    flex-wrap: wrap;
}


.hhover:hover{
    opacity: 1;
    
}

/* .seperator{
    margin: auto;
    width: 90%;
    background-color: rgb(54, 32, 10);
    padding-bottom: 2px;
    margin-bottom: 40px;
    margin-top: 40px;
} */

@media (max-width: 1000px) and (min-width: 800px){
    .insta-posts-section{
        margin-top: 500px;
    }
}


@media (max-width: 800px) and (min-width: 600px){
    .insta-posts-section{
        margin-top: 300px;
    }

    .insta-display > .wrap{
        width: 80%;
        margin: auto;
        display: flex;
        flex-wrap: wrap;
        gap: 20px;
    }
    .view-insta{
        width: 100%;
        /* justify-content: center;
        align-items: center; */
        
    }

    .view-insta > span > img{
        border-radius: 10px;
    }

    .hhover{
        width: 30%;
    }

    .hhover img{
        width: 40px;
        margin: auto;
    }
    
    .hhover p{
        font-size: 30px;
        text-align: center;
    }
}

@media (max-width: 700px) and (min-width: 400px){
    .insta-posts-section{
        margin-top: 750px;
    }
    .hhover{
        width: 30%;
        margin-right: 10px;
    }
    .insta-display > .wrap{
        width: 80%;
        margin: auto;
        display: flex;
        flex-wrap: wrap;
        gap: 20px;
    }
    .view-insta{
        width: 100%;
        /* justify-content: center;
        align-items: center; */
        
    }

    .view-insta > span > img{
        border-radius: 10px;
    }

    .hhover img{
        width: 40px;
        margin: auto;
    }
    
    .hhover p{
        font-size: 30px;
        text-align: center;
    }
}

@media (max-width: 400px) and (min-width: 200px){
    .insta-posts-section{
        margin-top: 750px;
    }
    .hhover{
        width: 30%;
        margin-right: 10px;
    }
    .insta-display > .wrap{
        width: 80%;
        margin: auto;
        display: flex;
        flex-wrap: wrap;
        gap: 20px;
    }
    .view-insta{
        width: 100%;
        /* justify-content: center;
        align-items: center; */
        
    }

    .view-insta > span > img{
        border-radius: 10px;
    }

    .hhover img{
        width: 40px;
        margin: auto;
    }
    
    .hhover p{
        font-size: 30px;
        text-align: center;
    }
}