.insta-display{
    width: 70%;
    display: flex;
    overflow-x: scroll;
    justify-content: space-between;
    margin: auto;
    align-items: center;
}

.insta-display > .wrap{
    width: 100%;
    display: grid;
    grid-template-columns: auto auto auto auto;
    flex: none;
}

.wrap2{

    display: grid;
    grid-template-columns: auto auto auto auto;
}

.view-insta{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.view-insta:hover{
    filter: brightness(60%);
    transition: all 0.1s ease-in-out;
}

/* .grid-item:hover{
    filter: brightness(60%);
    transition: all 0.3s ease-in-out;
} */

.hhover{
    position: absolute;
    width: 10%;
    z-index: 10;
    opacity: 0;
    margin: auto;
    /* 
    margin: 0;
    text-align: center;
    
    
     */

}

.hhover img{
    width: 30px;
    margin: auto;
}

.hhover p{
    text-align: center;
}


.hhover:hover{
    opacity: 1;
    
}
